{{define "page"}}
  <div
    class="from-background to-secondary font-slab min-h-screen bg-gradient-to-br text-text"
    hx-ext="gated-page,description"
    id="page"
  >
    <!-- background -->
    <figure
      class="z-0 text-secondary text-giant absolute flex h-full w-full items-end justify-center pb-10"
    >
      {{template "icon"}}
    </figure>
    <!-- end of background -->

    <!-- content -->
    <section class="z-10 absolute w-full">
      <header class="flex justify-center py-14">
        <a href="/" class="flex items-center justify-center gap-2">
          <figure class="text-primary text-5xl">{{template "icon"}}</figure>
          <h1 class="font-redhat text-accent text-5xl font-bold tracking-tight">
            pengoe
          </h1>
        </a>
      </header>

      {{$redirect := .Redirect}}
      <main class="flex flex-col items-center gap-10 bg-transparent">
        <form
          hx-post="/signin?redirect={{$redirect}}"
          hx-target="body"
          hx-ext="show-client-error"
          hx-replace-url="true"
          class="flex w-full max-w-sm flex-col gap-4"
        >
          {{$usernameOrEmail := index .Values "usernameOrEmail"}}
          <input
            aria-label="Username or email"
            name="user"
            class="border-text flex items-center rounded border bg-transparent px-2 py-1 focus:outline-none"
            placeholder="Username or email"
            value="{{$usernameOrEmail}}"
            required
          />
          <input
            aria-label="Password"
            name="password"
            type="password"
            class="border-text flex items-center rounded border bg-transparent px-2 py-1 focus:outline-none"
            placeholder="Password"
            required
          />
          <div class="flex justify-center">
            <button
              aria-label="Sign up"
              type="submit"
              class="border-accent text-accent hover:bg-accent hover:text-secondary focus:bg-accent focus:text-secondary flex h-10 w-fit items-center rounded-lg border bg-transparent px-2 focus:outline-none"
            >
              Sign in
            </button>
          </div>
        </form>

        <nav class="flex w-full max-w-sm justify-center gap-2">
          <div>Not a member yet?</div>
          <a
            href="/signup?redirect={{$redirect}}"
            class="border-primary hover:border-accent focus:border-accent border-b focus:outline-none"
          >
            Sign up here.
          </a>
        </nav>

        {{$error := index .Errors "loginError"}}
        {{if $error}}
          {{template "error" $error}}
        {{end}}
      </main>
    </section>
    <!-- end of content -->
  </div>
{{end}}

