{{define "content"}}

<section class="flex flex-col items-center gap-4 pb-10">
  <p class="text-center text-2xl">
    <span class="tracking-extreme">split</span> money and
    <span class="border-primary border-b">track</span> expenses
  </p>
  <p class="text-center text-xl">
    for small groups and <span class="">friends</span>
  </p>
</section>

{{if not .Session.LoggedIn}}

<nav class="flex flex-wrap justify-center gap-4">
  <a
    aria-label="Sign up"
    class="border-accent text-accent hover:bg-accent hover:text-secondary focus:bg-accent focus:text-secondary flex h-10 w-fit items-center rounded-lg border bg-transparent px-2 focus:outline-none"
    href="/signup"
    hx-boost="true"
  >
    Want to try?
  </a>
  <a
    aria-label="Sign in"
    hx-boost="true"
    href="/signin"
    class="border-text bg-text text-secondary hover:border-accent hover:bg-accent focus:bg-accent focus:text-secondary focus:border-accent flex h-10 w-fit items-center rounded-lg border px-2 focus:outline-none"
  >
    Sign in
  </a>
</nav>

{{else}}

<div>else</div>
<!--
  <div class="flex flex-wrap items-center gap-2">
    <form hx-boost="true" method="post" action="/signout/" hx-ext="signout">
      <button
        aria-label="Sign out"
        type="submit"
        class="w-fit rounded border border-black bg-red-200 p-1"
      >
        Sign out
      </button>
    </form>
    <div>Logged in as</div>
    <div class="font-bold">
      {{.Session.User.Username}} ({{.Session.User.Email}})
    </div>
  </div>
  -->
{{end}} {{end}}

