{{define "content"}}

<body class="bg-background text-text">
  <div class="flex justify-center">
    <h1
      class="bg-gradient-to-r text-transparent from-primary to-accent bg-clip-text font-bold text-5xl py-10 tracking-tight w-fit">
      pengoe</h2>
  </div>
  <p class="pt-6 pb-10 text-center">
    Simple solution for splitting money and tracking expenses with friends.
  </p>

  {{if not .Session.LoggedIn}}

  <div class="flex justify-center gap-2 flex-wrap">
    <a aria-label="Sign up" class="bg-primary rounded px-2 py-1 w-fit" href="/signup" hx-boost="true">
      Sign up
    </a>
    <a aria-label="Sign in" hx-boost="true" href="/signin" class="bg-secondary px-2 py-1 rounded p-1 w-fit">
      Sign in
    </a>
  </div>

  {{else}}

  <div class="flex items-center gap-2 flex-wrap">
    <form hx-boost="true" method="post" action="/signout/" hx-ext="signout">
      <button aria-label="Sign out" type="submit" class="bg-red-200 border border-black rounded p-1 w-fit">
        Sign out
      </button>
    </form>
    <div>Logged in as</div>
    <div class="font-bold">
      {{.Session.User.Username}} ({{.Session.User.Email}})
    </div>
  </div>
</body>

{{end}}

{{end}}
