{{define "content"}}

<div class="flex bg-transparent flex-col items-center gap-10">
  <form
    hx-post="/signup"
    hx-target="body"
    hx-push-url="true"
    hx-ext="auth"
    class="flex w-full max-w-sm flex-col gap-4"
  >
    <div class="flex w-full gap-4">
      <div class="border-text flex w-full items-center rounded border">
        <input
          aria-label="Firstname"
          name="firstname"
          placeholder="Firstname"
          value="{{.Firstname}}"
          class="w-full rounded bg-transparent px-2 py-1 focus:outline-none"
          required
          hx-get="/check"
          hx-trigger="keyup changed delay:500ms"
          hx-target="#firstname-check"
          hx-push-url="false"
        />
        <div id="firstname-check">
          {{if and .Error .Exists.Firstname}} {{template "incorrect"}} {{end}}
          {{if and .Error (not .Exists.Firstname)}} {{template "correct"}}
          {{end}}
        </div>
      </div>

      <div class="border-text flex w-full items-center rounded border">
        <input
          aria-label="Lastname"
          name="lastname"
          placeholder="Lastname"
          value="{{.Lastname}}"
          class="w-full rounded bg-transparent px-2 py-1 focus:outline-none"
          required
          hx-get="/check"
          hx-trigger="keyup changed delay:500ms"
          hx-target="#lastname-check"
          hx-push-url="false"
        />
        <div id="lastname-check">
          {{if and .Error .Exists.Lastname}} {{template "incorrect"}} {{end}}
          {{if and .Error (not .Exists.Lastname)}} {{template "correct"}}
          {{end}}
        </div>
      </div>
    </div>

    <div class="border-text flex items-center rounded border">
      <input
        aria-label="Username"
        name="username"
        placeholder="Username"
        value="{{.Username}}"
        class="grow rounded bg-transparent px-2 py-1 focus:outline-none"
        required
        hx-get="/check"
        hx-trigger="keyup changed delay:500ms"
        hx-target="#username-check"
        hx-push-url="false"
      />
      <div id="username-check">
        {{if and .Error .Exists.Username}} {{template "incorrect"}} {{end}} {{if
        and .Error (not .Exists.Username)}} {{template "correct"}} {{end}}
      </div>
    </div>

    <div class="border-text flex items-center rounded border">
      <input
        aria-label="Email"
        name="email"
        type="email"
        placeholder="Email"
        value="{{.Email}}"
        class="grow rounded bg-transparent px-2 py-1 focus:outline-none"
        required
        hx-get="/check"
        hx-trigger="keyup changed delay:500ms"
        hx-target="#email-check"
        hx-push-url="false"
      />
      <div id="email-check">
        {{if and .Error .Exists.Email}} {{template "incorrect"}} {{end}} {{ if
        and .Error (not .Exists.Email)}} {{template "correct"}} {{end}}
      </div>
    </div>

    <input
      aria-label="Password"
      name="password"
      type="password"
      class="borde-text grow rounded border bg-transparent px-2 py-1 focus:outline-none"
      placeholder="Password"
      required
    />

    <div class="flex justify-center">
      <button
        aria-label="Sign up"
        type="submit"
        class="border-accent text-accent hover:bg-accent hover:text-secondary focus:bg-accent focus:text-secondary flex h-10 w-fit items-center rounded-lg border bg-transparent px-2 focus:outline-none"
      >
        Sign up
      </button>
    </div>
  </form>

  <div class="flex w-full max-w-sm justify-center gap-2">
    <div>Already joined?</div>
    <a
      href="/signin"
      hx-boost="true"
      class="border-primary focus:border-accent hover:border-accent border-b focus:outline-none"
    >
      Sign in here.
    </a>
  </div>
</div>
{{if .Error}} {{template "error" .Error}} {{end}} {{end}}

