{{define "content"}}

<div class="flex flex-col items-center gap-10 bg-transparent">
  <form
    hx-post="/signin"
    hx-target="body"
    hx-replace-url="true"
    hx-ext="signin, auth"
    class="flex w-full max-w-sm flex-col gap-4"
  >
    <input
      aria-label="Username or email"
      name="user"
      class="border-text flex items-center rounded border bg-transparent px-2 py-1 focus:outline-none"
      placeholder="Username or email"
      value="{{.User}}"
      required
    />
    <input
      aria-label="Password"
      name="password"
      type="password"
      class="border-text flex items-center rounded border bg-transparent px-2 py-1 focus:outline-none"
      placeholder="Password"
      required
    />
    <div class="flex justify-center">
      <button
        aria-label="Sign up"
        type="submit"
        class="border-accent text-accent hover:bg-accent hover:text-secondary focus:bg-accent focus:text-secondary flex h-10 w-fit items-center rounded-lg border bg-transparent px-2 focus:outline-none"
      >
        Sign in
      </button>
    </div>
  </form>
  <div class="flex w-full max-w-sm justify-center gap-2">
    <div>Not a member yet?</div>
    <a
      href="/signup"
      hx-boost="true"
      class="border-primary focus:border-accent hover:border-accent border-b focus:outline-none"
    >
      Sign up here.
    </a>
  </div>
  {{if .Error}} {{template "error" .Error}} {{end}} {{end}}
</div>

