{{define "page"}}

<div
  class="from-background to-secondary font-slab text-text min-h-screen bg-gradient-to-br"
>
  <figure
    class="z-1 text-secondary text-giant absolute flex h-full w-full items-end justify-center pb-10"
  >
    {{template "icon"}}
  </figure>

  <main class="z-2 absolute h-full w-full">
    <header class="">
      <a
        href="/"
        hx-boost="true"
        class="flex items-center justify-center gap-2 py-14"
      >
        <figure class="text-primary text-5xl">{{template "icon"}}</figure>
        <h1 class="font-redhat text-accent text-5xl font-bold tracking-tight">
          pengoe
        </h1>
      </a>
    </header>

    {{template "content" .}}
  </main>
</div>

{{end}}

