package components

templ NewEventFormButton() {
	<button
 		hx-get="/ui/new-event-form"
		hx-include="#account_id"
 		hx-swap="outerHTML"
 		class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
	>
		New Event
	</button>
}
